body {
  color: #39464E;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.0em;
  margin: 25px auto;
  width: 600px;
  line-height: 1.4;
}

.title {
  color: #2b5b84;
}

.subtitle {
  font-size: 0.8em;
}

a {
  color: #2b5b84;
}

a:hover{
  color: rgb(3,101,100);
}

.small-img-block{
  display: block;
  width: 100%;
}